<footer class="main-footer pt-100 pb-90">

  <section id="footer">
    <div class="container">
      <div class="row d-md-flex flex-wrap align-items-center">

        <div class="lqd-column col-md-4 col-sm-10 item-margin">
          <img class="logo-default align-items-lg-start logo-margin" style="transform: scale(1.5)" src="/images/JusticeCoinLogo.png" alt="JusticeCoin Logo" width="185" height="390">

        </div>


        <div class="lqd-column col-margin">
          <p class="font-size-20 tr-sp-1 text-black font-weight-bold mt-90 lqd-unit-animation-done text-underline-2" style="transform: translateY(-10px); opacity: 1;">Follow Us</p>
          <ul class="social-icon circle social-icon-md mb-30 style=" transform: translateY(-10px);" ">
									<li><a href=" https://www.facebook.com//" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/justicecoin/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>




        </div><!-- /.col-md-4 -->

        <div class="lqd-column col-margin">
          <p class="font-size-20 tr-sp-1 text-black font-weight-bold mt-90 lqd-unit-animation-done text-underline-2 text-weight ">Discover</p>
          <ul class="lqd-custom-menu reset-ul">
            <li><a href="about">About</a></li>
            <li><a href="team">Meet The Team</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms</a></li>

          </ul>

        </div><!-- /.col-md-4 -->


        <div class="lqd-column col-margin">
          <p class="font-size-20 tr-sp-1 text-black font-weight-bold mt-90 lqd-unit-animation-done text-underline-2" style="transform: translateY(-40px); opacity: 1;">Contact Us</p>
          <ul class="lqd-custom-menu reset-ul" style="transform: translateY(-40px);">
            <li><a href="mcontact@justicecoin.org">contact@justicecoin.org</a></li>
          </ul>

        </div><!-- /.col-md-4 -->


      </div><!-- /.row -->

      <p class="font-size-16 text-black box-margin">Copyright 2020 <span class="text-secondary font-weight-bold">JusticeCoin</span> </p>










    </div><!-- /.container -->
  </section>

</footer><!-- /.main-footer -->



<script src="/vendors/jquery.min.js"></script>
<script src="/js/theme-vendors.js"></script>
<script src="/js/theme.min.js"></script>
<script src="/js/liquidAjaxContactForm.min.js"></script>


  </body>
