<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      if (window.navigator.platform.includes("Win")) {
        window.location.pathname = "/download/windows";
      } else if (windows.navigator.platform.includes("Mac")) {
          window.location.pathname = "/download/windows";
      } else {
        window.location.pathname = "/download/notSupported"
      }
    </script>
    <meta charset="utf-8">
    <title>Redirecting...</title>
  </head>
  <body>
    <h1>Redirecting...</h1>
  </body>
</html>
