<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FAQ | JusticeCoin</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Justice Coin">

  <link rel="icon" href="images/favicon.ico">
  <!--Bootstrap Css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Animate Css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <!-- Material Design Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  <!-- Custom style Css -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
</head>

<body style="background-color: #eee">
  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <div class="navbar-brand">
        <a class="logo anchor" href="/">
          <img src="images/JusticeCoinLogo.png" alt="JusticeCoinLogo" class="img-fluid logo-light" style="position: fixed; top: 10px; width: 250px; height: auto">
        </a>

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <strong class="mdi mdi-menu" style="font-size: 15px">Menu</strong>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item active">
            <a href="/#" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/web-miner" class="nav-link">Web Miner</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download</a>
          </li>
          <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- START PAGE TITLE -->
  <section class="container-fluid" style="background-color: #000060; height: 40vh">
    <div class="col-lg-12" style="padding-top:20vh">
      <h1 class="text-center text-warning">Frequently Asked Questions</h1>
    </div>
  </section>
  <!-- END PAGE TITLE -->

  <!-- START SEARCH BAR -->
  <section class="container-fluid" style="background-color: #eee">
    <div class="container" style="margin-top: 5vh">
      <form class="text-center" action="/faq" method="POST">
        <input type="text" name="faq-search" class="form-control form-control-lg" placeholder="Search For Questions">
    </div>
  </section>
  <!-- END SEARCH BAR -->
  <!-- START QUESTIONS -->
  <!-- NEED TO MAKE THIS QA CODE MORE EFFICIENT WITH EJS -->
  <section class="container" style="margin-top: 5vh">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" class="faq-question" href="#collapse1">Question 1</a>
          </h2>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body faq-answer"><i>Answer 1</i></div>
        </div>
      </div>
    </div>
  </section>
  <!-- END QUESTIONS -->

  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->
</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>
<script src="js/homeTyper.js"></script>

</html>
