<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Justice Coin</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Justice Coin">

  <link rel="icon" href="images/favicon.ico">
  <!--Bootstrap Css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Animate Css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

  <!-- Custom style Css -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
</head>

<body style="background-color: #eee">

  <!-- START LOADER -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
      <div class="spinner">Loading...</div>
    </div>
  </div>
  <!-- END LOADER -->

  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand logo anchor" href="#">
        <img src="images/JusticeCoinLogo.png" alt="JusticeCoinLogo" class="img-fluid logo-light" style="position: fixed; top: 10px; width: 250px; height: auto">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="mdi mdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/learn" class="nav-link">Learn</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/web-miner" class="nav-link">Web Miner</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download</a>
          </li>
          <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <!--START HOME-->
  <section class="h-100vh" style="background-image: url('images/background.jpg'); z-index: 0; background-attachment: scroll; background-size: auto;" id="home">
    <div class="bg-overlay"></div>
    <div class="home-table">
      <div class="home-table-center">
        <div class="container position-relative">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-white text-header_title">
              <h1 class="appear header_title" style="color: #FFF">JusticeCoin</h1>
            </div>
          </div>
          <h2 class="appear" style="color: #add8e6">
            JusticeCoin is a radical decentralized crypto-based fundraising model built to support organizations promoting equality and social justice.
          </h2>
        </div>
      </div>
    </div>
    <!-- Cool Background Particle Effect -->
    <canvas class="particles-js-canvas-el" width=auto height=auto style="width: 100%; height: 100%; position: absolute; top: 0px;"></canvas>
    </div>
  </section>
  <!--END HOME-->
  <!-- START CHOOSE YOUR LEVEL SECTION -->
  <section class="container-fluid" style="z-index: 0; margin: auto">
    <div class="col-lg-12 text-dark" style="margin-top: 10vh">
      <h2 class="text-center font-weight-bold">JusticeCoin
        <span class="cursorType" style="color: #000080" data-elements="Is Safe to Use.,Is Easy To Setup.,Is Free For Everyone."></span>
      </h2>
    </div>
    <div class="card-holder container">
      <div class="row justify-content-center">

        <div class="card" style="background-color: #010079">
          <a href="#route-beginner" class="card-link wayfinding-text">
            <p class="card-text">I'm new to crypto. Explain how it all works.</p>
          </a>
        </div>
        <div class="card" style="background-color: #C09000">
          <a href="#route-intermediate" class="card-link wayfinding-text">
            <p class="card-text">I know what crypto is. What's so special about JusticeCoin?</p>
          </a>
        </div>
        <div class="card" style="background-color: #1B73D3">
          <a href="#route-advanced" class="card-link wayfinding-text">
            <p class="card-text">How does JusticeCoin Work?</p>
          </a>
        </div>
        <div class="card" style="background-color: #500090">
          <a href="#route-try" class="card-link wayfinding-text">
            <p class="card-text" id="counter">I want to try it out!</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- END CHOOSE YOUR LEVEL SECTION -->
  <!-- START SECTION BEGINNER -->
  <section class="container-fluid section section_beginner" id="route-beginner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="font-weight-bold " style="color: #F0C000">Crypto isn’t real money, but it has real-world exchange value.</h2>
          <p class="text-white" style="font-size: 20px">Cryptocurrency
            is generated through users running computers to solve difficult computational problems in a process known as <i>mining</i>.

          </p>
          <p class="text-white subheader" style="font-size: 20px">When a problem is solved, the user is rewarded with units of that cryptocurrency. If enough users mine for the same cryptocurrency, it begins to have an exchange value.</p>
        </div>
        <div class="col-lg-6">
          <img src="images/img-beginner.svg" style="max-width: 30vw">
        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION BEGINNER -->
  <!-- START SECTION INTERMEDIATE -->
  <section class="container-fluid section section_intermediate" id="route-intermediate">
    <div class="container">
      <div class="row">

        <div class="col-lg-6">
          <img src="images/img-intermediate.svg" style="max-width: 30vw">
        </div>
        <div class="col-lg-6">
          <h2 class="font-weight-bold " style="color: #F0C000">100% Of Our Revenue Is Donated For Social Good</h2>
          <p class="text-white" style="font-size: 20px"> JusticeCoin provides a platform using revolutionary decentralized technology to transform computing power into funding for non-profit organizations. </p>
          <p class="text-white subheader" style="font-size: 20px">With enough downloads over time, the compounding revenue generated
            from JusticeCoin has the potential to help thousands of people and support dozens of different non-profits.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION INTERMEDIATE -->
  <!-- START SECTION ADVANCED -->
  <section class="container-fluid section section_advanced" id="route-advanced">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="font-weight-bold" style="color: #F0C000">Our Software Mines Monero</h2>
          <p class="text-white" style="font-size: 20px">When you open the application tab, an adjustable portion of your computer's unused processing power is used to mine a popular cryptocurrency called Monero, which is secure, private, and
            untraceable.</p>
          <p class="text-white subheader" style="font-size: 20px"> At the end of each mining period, we exchange the Monero for US dollars and donate the earnings to a rotating non-profit organization.</p>
          <p class="text-white" style="font-size: 20px">You can find all our source code <a href="https://github.com/Justice-Coin/" target="_blank">here</a></p>
        </div>

        <div class="col-lg-6">
          <img src="images/img-advanced.svg" style="max-width: 30vw">
        </div>
      </div>

    </div>
  </section>
  <!-- END SECTION ADVANCED -->
  <!-- START SECTION TRY -->
  <section class="container-fluid section section_try" id="route-try">
    <div class="container">
      <div class="row">

        <div class="col-lg-6">
          <img src="images/img-try.svg" style="max-width: 30vw">
        </div>
        <div class="col-lg-6">
          <h2 class="font-weight-bold " style="color: #F0C000">Download Our Miner</h2>
          <p class="text-white" style="font-size: 20px">When you open the application tab, an adjustable portion of your computer's unused processing power is used to mine a popular cryptocurrency called Monero, which is secure, private, and
            untraceable.</p>
          <p class="text-white subheader" style="font-size: 20px"> At the end of each mining period, we exchange the Monero for US dollars and donate the earnings to a rotating non-profit organization.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION TRY -->

  <!-- START SECTION CONTACT -->
  <!--Section: Contact v.2-->
  <section class="section mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Keep Up With <span class="text-info">JusticeCoin</span> </h2>
    <!--Section description-->
    <h5 class="text-center w-responsive mx-auto mb-5" style="font-size: 20px"><i>We're currently looking for beta testers and new team members so sign up and stay up to date!</i></h5>

    <div class="container">
      <!--Grid column-->
      <div class="col-md-12 mb-md-0 mb-5">
        <form class="text-center" id="contact" name="email_form" action="/" method="POST">
          <input type="text" id="email" name="email_address" class="form-control form-control-lg" placeholder="Your Email">
          <br>
          <button type="submit" class = "btn btn-large btn-outline-success btn-lg" name="submit_email"><strong><i>Sign Up</i></strong></button>
      </div>
    </div>

  </section>
  <!-- END SECTION CONTACT -->
  <!-- PUT "BACK TO TOP" BUTTON -SHREY -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->

  <!-- BASE JAVASCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- TYPED -->
  <script src="js/typed.js"></script>
  <!--PARTICLES ANIMATE JS-->
  <script src="js/particles.js"></script>
  <script src="js/particles.app.js"></script>
  <!--CUSTOM JS-->
  <script src="js/custom.js"></script>
  <script>
    //Typing Thing
    $(".cursorType").each(function() {
      var $this = $(this);
      $this.typed({
        strings: $this.attr('data-elements').split(','),
        typeSpeed: 50,
        backDelay: 1500,
        contentType: 'html'
      });
    });
  </script>

</body>

</html>
