<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.45">
  <meta name="description" content="Justice Coin is a radical decentralized fundraising model built to support organizations promoting equality and social justice.">
  <meta name="keywords" content="Justice coin, xmrig, fundraising, cryptocurrency, cryptocurrency fundraising, monero, monero mining, justice, coin, volunteer, non-profit, non profit,
  justice coin about, justice coin home,">
  <meta name="author" content="">
  <%- include("partials/header", {pageTitle: "JusticeCoin | Decentralized Activism"}) -%>
</head>

<body style="background-color: #eee">

  <!-- START LOADER -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
      <div class="spinner">Loading...</div>
    </div>
  </div>
  <!-- END LOADER -->

  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <div class="navbar-brand">
        <a class="logo anchor" href="/">
          <img src="/images/JusticeCoinLogo.png" alt="JusticeCoinLogo" class="img-fluid logo-light" style="position: fixed; top: 10px; width: 250px; height: auto">
        </a>

      </div>
      <button class="navbar-toggler sticky" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <strong class="mdi mdi-menu" style="font-size: 20px">Menu</strong>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/#" class="nav-link" id="homeClicker">Home</a>
          </li>
          <li class="nav-item">
            <a href="/faq" class="nav-link faqClicker">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/web-miner" class="nav-link">Web Miner</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download</a>
          </li>
          <!-- <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li> -->
          <li class="nav-item">
            <a href="/#contact" class="nav-link" id="contactClicker">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- END NAVBAR -->

  <!--START HOME-->
  <section class="h-100vh" id="homePlace" id="home">
    <div class="bg-overlay-gradient" style="width: 100%; height: 100%"></div>
    <div class="home-table">
      <div class="home-table-center">
        <div class="container position-relative">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-white text-header_title">
              <h1 class="appear header_title" style="color: #FFF">JusticeCoin</h1>
            </div>
          </div>
          <h2 class="text-header_title" style="color: #F0C000">
            Crypto for change:
          </h2>
          <h2 class="text" style="color: #fff">
            Mining cryptocurrency to support organizations for social justice
          </h2>
          <br>
          <a href="/web-miner">
            <button style="z-index: 10; position: relative" class="btn btn-large btn-outline-light" name="">
              <strong style="font-size:20px">Start Mining Online</strong>
            </button>
          </a>
          <a href="/download">
            <button style="z-index: 10; position: relative" class="btn btn-large btn-outline-warning" name="">
              <strong style="font-size:20px">Download Our Secure Desktop Miner</strong>
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- Cool Background Particle Effect -->
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%; position: absolute; top: 0px;"></canvas>
    </div>
    <!-- NEED TO PUT DOWN ARROW HERE -->
  </section>
  <!--END HOME-->
  <!-- START CHOOSE YOUR LEVEL SECTION -->
  <section class="container-fluid" style="z-index: 0; margin: auto">
    <div class="col-lg-12 text-dark" style="margin-top: 10vh">
      <h2 class="text-center font-weight-bold makesmall" style="color: #000080">JusticeCoin
        <span class="cursorType makesmall" style="color: #000" data-elements="is safe to use.,is easy to setup.,is decentralizing activism."></span>
      </h2>
    </div>

    <div class="row text-center">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #000050">
          <a href="#route-beginner" id="route-beginnerClicker">
            <div class="card-body card-link">
              <p class="card-text">What is JusticeCoin?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #0053C3">
          <a href="#route-intermediate" id="route-intermediateClicker">
            <div class="card-body card-link">
              <p class="card-text">How does JusticeCoin work?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #222">
          <a href="#route-advanced" id="route-advancedClicker">
            <div class="card-body card-link">
              <p class="card-text">Who created JusticeCoin?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #C09000">
          <a href="#route-try" id="route-tryClicker">
            <div class="card-body card-link">
              <p class="card-text">I want to try it out!</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </section>
  <!-- END CHOOSE YOUR LEVEL SECTION -->
  <!-- START SECTION BEGINNER -->
  <section class="container-fluid section section_beginner" id="route-beginnerPlaceCard">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-5">
          <h2 class="font-weight-bold " style="color: #E0B000">Donate Money Without Spending a Dime</h2>
          <p class="text" style="font-size: 20px; color: #000000">By mining cryptocurrency, we transform your computer's computing power into funding for the Atlanta Black-Owned Business Fund.</p>
          <p class="text" style="font-size: 20px; color: #000000">In the future, we will expand our outreach to more non-profit organizations. With enough downloads over time, the money builds up, and you’ll be part of an initiative with the potential to help thousands of people.</p>

        </div>
        <div class="col-lg-6 col-sm-12 text-center">
          <img src="images/img-intermediate.svg" style="max-width: 400px; margin-top: 15vh; margin-bottom: 10vh;">
        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION BEGINNER -->
  <!-- START SECTION INTERMEDIATE -->
  <section class="container-fluid section section_intermediate" id="route-intermediatePlaceCard">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/img-beginner.svg " style="max-width: 400px; margin-top: 10vh; margin-bottom: 10vh;">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2 class="font-weight-bold " style="color: #E0B000">Crypto isn’t real money, but it has real-world exchange value.</h2>
          <p class="text" style="font-size: 20px; color: #FFF">Cryptocurrency is generated through users running computers to solve difficult computational problems in a process known as <i>mining</i>.</p>
          <p class="text" style="font-size: 20px; color: #FFF">When a problem is solved, the user is rewarded with units of that cryptocurrency (Monero). The more users that mine, the higher the exchange rate becomes.</p>
          <p class="text" style="font-size: 20px; color: #FFF">At the end of each mining period, we exchange the Monero for US dollars and donate the earnings to a rotating non-profit organization. </p>

        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION INTERMEDIATE -->
  <!-- START SECTION ADVANCED -->
  <section class="container-fluid section section_advanced" id="route-advancedPlaceCard">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-5">
          <h2 class="font-weight-bold" style="color: #E0B000">Meet Our Team</h2>
          <p class="text" style="font-size: 20px; color: #000">We’re a group of high school innovators striving to create the next generation of technological activism.</p>
          <p class="text" style="font-size: 20px; color: #000">We believe that blockchain technology can revolutionize existing fundraising models and fuel social change.</p>
          <p class="text" style="font-size: 20px; color: #000"> <a href="/about">Learn more</a> about us.</p>
        </div>


        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/teamspirit.svg" style="max-width: 400px">
        </div>
      </div>

    </div>
  </section>
  <!-- END SECTION ADVANCED -->
  <!-- START SECTION TRY -->
  <section class="container-fluid section section_try" id="route-tryPlaceCard">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/img-try.svg" style="max-width: 400px">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2 class="font-weight-bold " style="color: #E0B000">Download Our Miner</h2>
          <p class="text" style="font-size: 20px; color: #FFF">You can download our secure <a href="/download">desktop app</a> or you can try out our <a href="/web-miner">web miner</a>.</p>
          <p class="text" style="font-size: 20px; color: #FFF">You can find all our source code on our <a href="https://github.com/Justice-Coin/" target="_blank"> github page</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION TRY -->
  <!-- START SECTION CONTACT -->
  <section class="section_contact" id="contactPlace">
<div class="container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center">Keep In Touch With <span class="text-dark">JusticeCoin</span>?</h2>
    <!--Section description-->
    <h5 class="text-center w-responsive mx-auto mb-5 mt-5" style="font-size: 20px; font-weight:semi-bold">Sign up for our mailing list and stay up to date! You can also email us at <strong> <a href="mailto:contact@justicecoin.org">contact@JusticeCoin.com.</a></strong></h5>
    </div>
    <div class="container">
      <div class="col-md-12 mb-md-0 mb-5 text-center">
        <form class="text-center" name="email_form" action="/home" method="POST">
          <input type="text" id="email" name="email_address" class="form-control form-control-lg" placeholder="Your Email">
          <br>
          <button type="submit" class="btn btn-large btn-outline-success btn-lg" name="submit_email"><strong>Sign Up</strong></button>
        </form>
      </div>
    </div>

  </section>
  <!-- END SECTION CONTACT -->

  <!-- PUT "BACK TO TOP" BUTTON HERE -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->

</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- TYPED -->
<script src="js/typed.js"></script>
<!--PARTICLES ANIMATE JS-->
<script src="js/particles.js"></script>
<script src="js/particles.app.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>
<script src="js/homeTyper.js"></script>
<script src="js/hashAnchors.js">
</script>

</html>
