<!DOCTYPE html>
<html lang="en">

<%- include("partials/miner/header") -%>

<main id="about" class="container">

  <section class="vc_row pt-200 pb-100" id="donate">
    <div class="res-container">
      <div class="row">

        <div class="lqd-column col-md-12 text-center bg-white box-shadow-1 pt-100 pb-200">

          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <header class="fancy-title mb-40 px-3">
                <h1 class="font-size-36">LEAVE THIS TAB OPEN TO MINE ON YOUR BROWSER </h1>
                <p class="font-size-14" style="text-align: left; color: black;">
                  -if possible turn off any adblockers to increase efficiency. Feel free to contact us with any questions or concerns - contact@justicecoin.org
                  <img class="logo-default" style="transform: scale(1.25);" src="/images/miner.gif" alt="Hyphora Logo" width="370" height="780">

                  <br><br>


                </p>
              </header>



            </div><!-- /.col-md-10 col-md-offset-1 -->
          </div><!-- /.row -->

        </div><!-- /.col-md-6 col-md-offset-3 -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <%-include("partials/footer") -%>

</main>
