<!DOCTYPE html>
<html>
<%- include("partials/header") -%>

<main id="team" class="container container-margin ">

  <section class="vc_row pt-200 pb-200 width=360 length=360 align-items-center">
    <div class="container md-150">

      <div class="row">

        <div class="lqd-column col-md-6 col-md-offset-3 mb-30">

          <div class="lqd-column col-mt-160 text-center">

            <div class="ld-fancy-heading">
              <h1 class="ld-gradient-heading">
                <h1 class="ld-fh-txt font-size-1-12x ltr-sp--01 font-weight-semibold">Meet The Team</h1>
              </h1>
            </div><!-- /.ld-fancy-heading -->

          </div><!-- /.lqd-column col-md-12 -->

        </div><!-- /.lqd-column col-md-6 col-md-offset-3 -->

      </div><!-- /.row -->

      <div class="row item-margin">

        <div class="lqd-column col-md-3 col-sm-6 bg-white box-shadow-1 box-size box-margin box-padding">

          <div class="ld-tm d-flex flex-column text-center px-md-3" data-hover3d='true'>
            <div class="ld-tm-img mb-3 text-center">
              <figure>
                <img class="circle" src="/images/team/yemisi.png" alt="Yemisi" />
              </figure>
            </div><!-- /.ld-tm-img -->
            <div class="ld-tm-info">
              <h3 class="ld-tm-name size-sm font-weight-semibold mb-3">Yemisi Badmus</h3>
              <h6 class="ld-tm-pos text-uppercase ltr-sp-175 font-weight-bold mb-3">Director of Growth & Marketing</h6>
              <p class="opacity-06"></p>
              <ul class="social-icon circle social-icon-md mb-30">
                <li><a href="https://www.instagram.com//"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in//"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div><!-- /.ld-tm-info -->
          </div><!-- /.ld-tm -->

        </div><!-- /.lqd-column col-md-3 col-sm-6 -->

        <div class="lqd-column col-md-3 col-sm-6 bg-white box-shadow-1 box-size box-margin box-padding">

          <div class="ld-tm d-flex flex-column text-center px-md-3">
            <div class="ld-tm-img mb-3 text-center">
              <figure>
                <img class="circle" src="/images/team/prat.png" alt="Prat" />
              </figure>
            </div><!-- /.ld-tm-img -->
            <div class="ld-tm-info">
              <h3 class="ld-tm-name size-sm font-weight-semibold mb-3">Pratyush Mallick</h3>
              <h6 class="ld-tm-pos text-uppercase ltr-sp-175 font-weight-bold mb-3">Director of Innovation</h6>
              <p class="opacity-06"></p>
              <ul class="social-icon circle social-icon-md mb-30">
                <li><a href="https://www.instagram.com//"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in//"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div><!-- /.ld-tm-info -->
          </div><!-- /.ld-tm -->

        </div><!-- /.lqd-column col-md-3 col-sm-6 -->


        <div class="lqd-column col-md-3 col-sm-6 bg-white box-shadow-1 box-size box-margin box-padding">

          <div class="ld-tm d-flex flex-column text-center px-md-3">
            <div class="ld-tm-img mb-3 text-center">
              <figure>
                <img class="circle" src="/images/team/mylinh.png" alt="MyLinh" />
              </figure>
            </div><!-- /.ld-tm-img -->
            <div class="ld-tm-info">
              <h3 class="ld-tm-name size-sm font-weight-semibold mb-3">MyLinh Murphree</h3>
              <h6 class="ld-tm-pos text-uppercase ltr-sp-175 font-weight-bold mb-3">Director of Operations</h6>
              <p class="opacity-06"></p>
              <ul class="social-icon circle social-icon-md mb-30">
                <li><a href="https://www.instagram.com//"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in//"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div><!-- /.ld-tm-info -->
          </div><!-- /.ld-tm -->

        </div><!-- /.lqd-column col-md-3 col-sm-6 -->





      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <%- include("partials/footer.ejs") -%>

</html>
