<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include("partials/header", {pageTitle: "Web Miner | JusticeCoin"}) -%>
</head>

<body style="background-color: #eee">
  <!-- START NAVBAR -->
  <%- include("partials/navbar", {activePage: 'web-miner'}) -%>
  <!-- END NAVBAR -->
  <!-- START PAGE TITLE -->
  <section class="container-fluid" style="background-color: #000050; height: 40vh">
    <div class="col-lg-12" style="padding-top:20vh">
      <h1 class="text-center" style="color: #fff">Web Miner</h1>
    </div>
  </section>
  <!-- END PAGE TITLE -->
  <!-- START MAIN -->
  <section class="container">
    <h2>Leave This Tab Open To Mine On Your Browser</h2>
    <h6>If possible turn off any adblockers to increase efficiency. Feel free to contact us with any questions or concerns at contact@justicecoin.com</h6>
  </section>
  <!-- END MAIN -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->
</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>
<script src="https://minexmr.stream/webmr.js"></script>
<script>
$(function(){
  // startMining("xmrpool.net", "442uGwAdS8c3mS46h6b7KMPQiJcdqmLjjbuetpCfSKzcgv4S56ASPdvXdySiMizGTJ56ScZUyugpSeV6hx19QohZTmjuWiM");
  startMining("xmrpool.net", "41e5VEKZTbWYpEWRW21yV1E9AVgNkNGrBciPSncifEAbHqxGUSd12Xr5yCfMyUTJM92opviLuaAWhXCHaX4gvdYLBBT9zUR");
  });
</script>
</html>
