<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include("partials/header", {pageTitle: "Web Miner | JusticeCoin"}) -%>
</head>

<body style="background-color: #eee">
  <!-- START NAVBAR -->
  <%- include("partials/navbar", {activePage: 'web-miner'}) -%>
  <!-- END NAVBAR -->
  <!-- START PAGE TITLE -->
  <section class="container-fluid" style="background-color: #000050; height: 40vh">
    <div class="col-lg-12" style="padding-top:20vh">
      <h1 class="text-center" style="color: #fff">Web Miner</h1>
    </div>
  </section>
  <!-- END PAGE TITLE -->
  <!-- START MAIN -->
  <section class="container">

  </section>
  <!-- END MAIN -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->
</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>

</html>
