<section id="faq-area-05" class="faq-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="sub-title">
          <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Frequently Asked Questions</h2>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="faq-wrapper">
          <!--Accordion wrapper-->
          <div class="panel-group accordion-wrapper" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel accordion-single accordion-01 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  What are you donating when you run JusticeCoin?
                </h4>
              </div>

              <div class="card-body  accordion-content">
                <p>Your computer is being used to verify transactions for the Monero cryptocurrency ledger. This process of reward is known as “mining” and is an incentive to participate in the upkeep of the network. When you run JusticeCoin, you
                  are donating a small percentage of your overall computing power to this task, which results in money we can contribute. </p>
              </div>
            </div>
          </div>
          <div class="panel accordion-single accordion-02 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">

                Why are you mining Monero?

              </h4>
            </div>

            <div class="card-body  accordion-content">
              <p>Monero is an ASIC-resistant cryptocurrency, which means two things: computers designed for the singular purpose of mining cryptocurrency are unable to mine it amd consumer-level computers can mine it in a financially viable way.
                It also has a stable value relative to other high value cryptocurrencies. The open source code base for Monero mining software made this a tenable project for our team.</p>
            </div>
          </div>
        </div>
        <div class="panel accordion-single accordion-03 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How much CPU power does this take?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body  accordion-content">
              <p>The browser tab for JusticeCoin uses 10% of your CPU power, which should make it unnoticeable for most users. In the future we will implement a toggle bar allowing you to adjust the computing power.</p>
            </div>
          </div>
        </div>
        <div class="panel accordion-single accordion-04 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Isn't it just faster to donate cash directly?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-body  accordion-content">
              <p>Directly routing money to nonprofits is, of course, the most efficient means of donation. We encourage everyone who has the means to donate directly, in addition to running JusticeCoin. However, this project is also greater than
                the sum of its parts, or the sum of its hashrate; This is as much about catapulting a radical platform for decentralized financing of non profits as opening the new frontier of non-profit technology. This project seeks to engage
                people in a dialog about the postive impacts cryptocurrency can have and its implementations for social good. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End faq-area -->
