<section class="vc_row pt-100 pb-10" id="findOutMore">
  <div class="res-container">
    <div class="row">

      <div class="lqd-column col-md-8 col-md-offset-2 text-center bg-white box-shadow-1 pt-70 pb-50">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <header class="fancy-title mb-40 px-3">
              <h1 class="font-weight-bold">Find Out More</h1>
              <p class="font-size-18">JusticeCoin provides a platform to transform computing power into funding for non-profit organizations. If you're interested joining our team or partnering with us, please feel free to take a look at our open source material or contact us below. </p>
            </header>

            <div class="ld-sf ld-sf--input-solid ld-sf--button-solid ld-sf--size-lg ld-sf--circle ld-sf--border-thin ld-sf--input-shadow ld-sf--button-show">
              <form id="ld_subscribe_form" class="ld_sf_form" action="https://hyphora.us20.list-manage.com/subscribe/post?u=5587e18b443f96a9f74fd6709&amp;id=0d049cb063" name="mc-embedded-subscribe-form" method="post">

                <a href="" class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-30 font-weight-bold ltr-sp-05 mb-2">
                  <span>
                    <span class="btn-txt">Roadmap</span>
                  </span>
                </a>

                <a href="" class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-30 font-weight-bold ltr-sp-05 mb-2">
                  <span>
                    <span class="btn-txt">Dev Logs</span>
                  </span>
                </a>

                <a href="" class="btn btn-default text-uppercase btn-xlg circle btn-bordered border-thin font-size-12 lh-30 font-weight-bold ltr-sp-05 mb-2">
                  <span>
                    <span class="btn-txt">Whitepaper</span>
                  </span>
                </a>




              </form>
              <div class="ld_sf_response"></div>
            </div><!-- /.ld-sf -->

          </div><!-- /.col-md-10 col-md-offset-1 -->
        </div><!-- /.row -->

      </div><!-- /.col-md-6 col-md-offset-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
